
*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.597);
     margin: 2% ;
     padding: 0%;
}

.heder{
   display: flex;
   width: 100%;
   justify-content: space-between;   
   align-items: baseline;
}

main{
  margin: 5vh 3vw;
  display: block;
}

.basket{
   display: flex;
   align-items: center; 
   margin-right: 20px;
   margin-top: 0px;
   border-radius: 50%;
   border: 2px solid black;
   height: 60px;
   width: 60px; 
}

.imgBasket{
  height: 50px;
  width: 50px;
}

#cartBasket{
  display: none;
  width: 300px;
  height: auto;
  background-color: white;
  position: absolute;
  right: 3rem;
  margin-top: 4.5rem;
  border-radius: 5px;
   border: 1px solid black;
   z-index: 1;
}

.basketImg{
    height: 120%;
    width: 100%;
    cursor: pointer;
}

.module{
  max-height: 500px;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
    background-color: #00000061;   
    height: 100%;
    max-height: 500px;
    width: 65%;
    max-width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .productImg{
    width: 40%;
    height: 40%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    margin-bottom: 0;
    border-radius: 10%;
  }
  
  .description {
    display: flex;
    flex-direction: column;
  }
  
  button {
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 2px 0 rgba(0, 0, 0, 0.1);
    
  }
  
#sellerProfil{
    font-style: italic;
}

h2{
    margin: 0px;
    margin-bottom: 10px;
}

h1{
  margin-left: 1%;
}



#market{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(2,50%);
    grid-auto-flow: row;
    position: relative;
    gap: 2%;
}


.blink {
  animation: blink 1s ease-in-out;
}


@keyframes blink {
  0% { background-color: rgba(255, 0, 0, 0); }
  50% {background-color: rgba(255, 0, 0, 0.56); }
  100% { background-color: rgba(255, 0, 0, 0); }
}


/* -----Responsive----- */

@media screen and (max-width: 1000px){
   #market {
      grid-template-columns: repeat(2, 10fr);
  }
  .productImg{
    width: 50%;
    height: 40%;
  }
}

@media screen and (max-width: 800px){
  #market {
      grid-template-columns: repeat(1, 1fr);
      max-height: 900px;
  }
  main{
    margin: 5vh 10vw;
  }
}

